body {
    background-color: mediumseagreen;
    margin: 0 auto;
    box-sizing: border-box;
}
h2, p, a {
    margin: 0;
    padding: 10px 15px;
}
.small, .big-bottom, .big-section {
    margin-bottom: 15px;
    margin-left: 15px;
}
.container {
    display: flex;
    justify-content: center;
    padding: 25px;
    max-width: 1200px;
    margin: 0 auto;
}
@media (max-width: 700px) {
	.container {
		flex-direction: column;
	}
}
.column-left {
    display: flex;
    flex-direction: column;
}
.column-right {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}
@media (max-width: 700px) {
	.column-right {
		max-width: 100%;
	}
}
.big-section {
    display: flex;
    flex-direction: row;
    flex-grow: 3;
}
@media (max-width: 700px) {
	.big-section {
		flex-direction: column-reverse;
	}
}
img {
    display: flex;
    width: 100%;
    object-fit: cover; 
}
.text {
    padding: 10px;
    background-color: white;
}
.bellow-text {
    display: flex;
    justify-content: space-between;
}
.bottom-sections {
    display: flex;
    flex-direction: row;
}
@media (max-width: 700px) {
	.bottom-sections {
		flex-direction: column;
	}
}
.big-bottom {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}
.bottom-small-sections {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}
@media (max-width: 700px) {
	.bottom-small-sections {
		max-width: 100%;
	}
}

.big-section-img, .big-section-img2 {
    display: flex;
    object-fit: cover;
}

@media (max-width: 700px) {
	.small-section-img img {
		max-width: 100%;
	}
}